<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">

</head>

<body>
    <div class="login">
        <h1>LOGIN</h1>
        <div class="textbox">
            <i class="fa-solid fa-user"></i>
            <input type="text" placeholder="username" name="" value="">
        </div>
        <div class="textbox">
            <i class="fa-solid fa-lock"></i>
            <input type="password" placeholder="password" name="" value="">
        </div>
        <button type="submit">LOGIN</button>
    </div>

</body>

</html>