<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
<link rel="stylesheet" href="/stylesheets/home-page.css">




<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">USER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <a class="nav-link" href="/update">UPDATE</a>
                <a class="nav-link" href="/profile">PROFILE</a>
                <a class="nav-link" href="/viewjobs">VIEWJOBS</a>
                <a class="nav-link" href="/viewjobs">JOBAPPLICATION</a>
                <a class="nav-link" href="/notification">notification</a>


            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a href="/company/logout" class="btn btn-outline-danger">logout</a>

            </form>
        </div>
    </div>
</nav>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2018/11/dark-wallpapers.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/photos/black-interior-with-wood-wall-panel-and-plants-3d-render-illustration-picture-id1272362475?k=20&m=1272362475&s=612x612&w=0&h=YSj09PRwfLxIECmwjPTErUyQBzsyb1XiAoiKJ_j_tNE="
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://web-242.com/wp-content/uploads/2019/01/office-background.jpg" class="d-block w-100" </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {{!--
    rd-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and
        make up the
        bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
</div>
</div> --> --}}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://origin.net/wp-content/uploads/2017/04/Interview.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-info">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="http://www.pngall.com/wp-content/uploads/2016/06/Business-PNG-Picture.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-warning">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://thumbs.dreamstime.com/b/professional-business-men-looking-documents-office-staff-light-background-modern-discussion-businessman-checking-100229657.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-success">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/b9/12/7b/b9127bb048b765d161aa1589d218fce1.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://www.dentons.com/en/-/media/images/website/background-images/practices/employment-and-labor/corporate-office.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://ak3.picdn.net/shutterstock/videos/15415543/thumb/10.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">MORE OPTIONS</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-warning"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#" class="btn btn-warning"><i class="fa-solid fa-at"></i></a>
        <a href="#" class="btn btn-warning"><i class="fa-brands fa-square-facebook"></i></a>


    </div>
</div>


</body>

</html>