<link rel="stylesheet" href="/stylesheets/login.css">
{{#if Errormsg}}
<h2>{{Errormsg}}</h2>
{{/if}}
<div class="flex-container">
    <div class="flex-child image"></div>
    <div class="flex-child text">
        <h1 class="login">log in</h1>
        <form action="/login" method="post">
            <input type="text" name="email" id="email" placeholder="email" class="email" required><br><br>
            <input type="password" name="password" id="password" placeholder="password" required><br><br>
            <button type="submit">log in</button>
        </form>
    </div>
</div>