<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="main">
    <div class="image">
        <img src="https://tse2.mm.bing.net/th?id=OIP.OxMQNMLB1Ze7po7bAjacNAHaHa&pid=Api&P=0 " style="width: 200px;">
    </div>
    <div class="name">
        <h1>shamili</h1>
    </div>

    <div class="data">

        <p id="dob">dob</p>
        <p>gender</p>
        <p>address</p>
        <p>phone number</p>
        <p>email</p>
        <p>qualification</p>
        <p>languages</p>
        <button>update</button>
    </div>
</div>