body {
    /* margin: 0; */
    /* padding: 0; */
    /* display: flex; */
    /* min-height: 50vh; */
    /* align-items: center; */
    /* justify-content: center; */
    background-size: cover;
    background-image: url('https://img.freepik.com/premium-photo/elegant-black-office-desktop-with-laptop-cup-coffee-top-view_96727-843.jpg?w=900');
}

.name {
    /* margin-left: 89px; */
    color: white;
}

.btn {
    color: white;
}

p {
    /* margin-left: 420px; */
    margin-top: -10px;
    /* font-weight: 800; */
    /* font-size: 20px; */
    color: white;
    padding: 4px;
}

button {
    /* margin-left: 350px; */
    /* margin-top: 30px;s */
    width: 80px;
    height: 40px;
    border-radius: 25px;

}

img {
    width: 200px;
    height: 200px;
    /* padding-top: 80px; */
    margin-top: 10px;
    /* margin-left: 89px; */
}