/* body {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;

} */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 450px;
    /* margin-top: 60px; */
    /* margin-right: 400px; */
    /* margin-left: 400px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    height: 200px;
    width: 200px;
}

h1 {
    /* margin-bottom: 350px; */
    /* margin-left: 200px; */
    text-align: center;
}