<link rel="stylesheet" href="/stylesheets/company/add-job-form.css">
<div class="main">
    <form action="/company/addjob" method="post">
        <div class="data">
            <h1>add jobs</h1>
            <input type="text" name="jobtitle" placeholder="job title" id="jobtitle"><br><br>
            <input type="text" name="description" placeholder="description"><br><br>
            <input type="vaccancy" name="vaccancy" placeholder="vaccancy"><br><br>
            <input type="text" name="category" placeholder="category"><br><br>
            <input type="text" name="area" placeholder="area"><br><br>
            <input type="salary" name="salary" placeholder="salary"><br><br>
            <input type="date" name="publisheddate" placeholder="published date"><br><br>
            <button>submit</button>
        </div>
    </form>
</div>