<link rel="stylesheet" href="/stylesheets/company/company-signup.css">

<form action="/company/compsignup" method="post">
    <h1>CREATE AN ACCOUNT</h1>

    <div class="main">
        <input type="text" name="companyname" placeholder="companyname" class="compname"><br><br>
        <input type="email" name="email" placeholder="official email"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <input type="number" name="number" placeholder="mobile number"><br><br>
        <input type="text" name="personname" placeholder="contact person's name"><br><br>
        <select name="industryType">
            <option value=" ">industry type</option>
            <option>accounting/finance</option>
            <option>agriculure/dairy</option>
            <option>hotels/travel</option>
            <option>recruitment</option>
            <option>export/import</option>
        </select><br><br>
        <button type="submit">create account</button>
    </div>
</form>