<link rel="stylesheet" href="/stylesheets/company/company-profile.css">
<div class="main">
    <div class="image">
        <img>
    </div>
    <div class="name">
        <h1>zion it company</h1>
    </div>
    <div class="data">
        <p id="email">official email id</p>
        <p>phone number</p>
        <p>contact persons name</p>
        <p>industry type</p>
        <p>description:
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, rerum eligendi quibusdam illum error
            sunt ullam dolorum voluptatum aperiam debitis in libero quos consectetur architecto accusamus, omnis,
            doloremque reiciendis nobis.</p>
        <button>update</button>

    </div>
</div>