<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">

</head>

<body>
    <div class="main">
        <div class="left">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="user"
                width="100"><br>
            <button class="update">update</button>
        </div>
        <div class="right">
            <h1>user</h1>
            <div class="info-data">
                <div class="data">
                    <h4>email</h4>
                    <p>a@gmail.com</p>
                </div>
                <div class="data">
                    <h4>phone</h4>
                    <p>9876543210</p>
                </div>
                <div class="info">
                    <h4>address</h4>
                    <p>calicut,mcc,zion it company</p>
                </div>
                <div class="info">
                    <h4>qualification</h4>
                    <p>degree</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>