<link rel="stylesheet" href="/stylesheets/signup.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<form>
    <div class="row">
        <div class="input-group">
            <input type="text" id="name" required>
            <label for="name"><i class="fa-solid fa-user"></i>your name</label>
        </div>
        <div class="input-group">
            <input type="text" id="email" required>
            <label for="email"><i class="fa-solid fa-envelope-circle-check"></i></i>Email</label>
        </div>
    </div>

    <div class="input-group">
        <input type="text" id="password" required>
        <label for="password"><i class="fa-solid fa-lock"></i>password</label>
    </div>
    <div class="input-group">
        <textarea id="address" rows="8" required></textarea>
        <label for="address"><i class="fa-solid fa-address-book"></i>address</label>
    </div>
    <div class="row1">
        <div class="input-group">
            <input type="text" id="phonenumber" required>
            <label for="phonenumber"><i class="fa-solid fa-square-phone"></i>phonenumber</label>
        </div>
        <div class="input-group">
            <select name="card" id="card">
                <option value=" Experienced"> Experienced</option>
                <option value="Fresher"> Fresher</option>
            </select>
        </div>

    </div>
    <button type="submit">SIGNUP</button>
</form>