body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url(https://image.freepik.com/free-photo/vintage-camera-pencil-open-laptop-twig-isolated-white-background_23-2147979091.jpg);
}

input {
    width: 600px;
    height: 40px;
    /* border-radius: 15px; */
    color: white;
    font-weight: 700;
    font-style: italic;
    box-shadow: 10px 10px;
}

input:hover {
    background-color: rgb(122, 118, 118);
}

input,
::placeholder {
    color: #000;
}

select {
    width: 610px;
    height: 40px;
    /* border-radius: 15px; */
    color: rgb(29, 29, 14);
    font-style: italic;
    color: #000;
    font-weight: 700;
    box-shadow: 10px 10px;


}

select:hover {
    background-color: rgb(122, 118, 118);

}

button {
    width: 300px;
    height: 40px;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: black;
    /* border-radius: 15px; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    color: white;
    box-shadow: 10px 10px;

}

.form {
    margin-top: 15px;
    background-color: #fcf6f5ff;
    width: 500px;
    padding-left: 90px;
    box-shadow: 2px 2px #fcf6f5ff;

}

h1 {
    padding-right: 700px;
    padding-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    /* background-color: rgb(75, 9, 9); */
    color: black;
    margin-right: 80px;


}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

}